<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NationBuilderAPIv1UnitTests.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NationBuilderAPIv1UnitTests.Settings>
            <setting name="TestNationSlug" serializeAs="String">
                <value />
            </setting>
            <setting name="TestNationAccessToken" serializeAs="String">
                <value />
            </setting>
        </NationBuilderAPIv1UnitTests.Settings>
    </userSettings>
    <system.diagnostics>
      <trace autoflush="true" />
      <sources>
        <source name="System.Net">
          <listeners>
            <add name="System.Net"/>
          </listeners>
        </source>
        <source name="System.Net.Sockets">
          <listeners>
            <add name="System.Net"/>
          </listeners>
        </source>
        <source name="System.Net.Cache">
          <listeners>
            <add name="System.Net"/>
          </listeners>
        </source>
      </sources>
      <sharedListeners>
                <add
                  name="System.Net"
                  type="System.Diagnostics.TextWriterTraceListener"
                  initializeData="C:\Temp\System.Net.trace.log"
                />
      </sharedListeners>
      <switches>
        <add name="System.Net" value="Verbose" />
        <add name="System.Net.Sockets" value="Verbose" />
        <add name="System.Net.Cache" value="Verbose" />
      </switches>
  </system.diagnostics>
</configuration>